*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "Poppins";
}

nav{
    display: flex;
    align-items: center;
    height: 100px;
}

nav>img:nth-child(1){
    margin-left: 100px;
}


.nav-items{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item{
    font-size: 20px;
    font-weight: 100;
    color: #000000;
}

.active-item{
    font-weight: 900;
    color: #FE5E35;
}

.intro-section{
    padding: 0px 100px;
    display: flex;
}

.left-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section>h3{
    font-size: 50px;
    font-weight: 100;
    margin-top: 100px;
}

.left-section>h3 img{
    height: 40px;
}

.left-section>h1{
    font-size: 60px;
    font-weight: 1000;
    font-family: "Fredoka One";
}

.sub-headlines{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.sub-headline{
    font-size: 20px;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin: 10px;
}
.sub-headline>img{
    background-color:  #FE5E35;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
}

.text{
    font-size: 15px;
    color: #C3C3C3;
    font-weight: 100;
}

.action-btn{
    background-color: #FE5E35;
    color: #FFFFFF;
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 40px;
}

.action-btns>button:nth-child(2){
    margin-left: 20px;
}


.right-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headphone-div{
    position: relative;
}

.discount{
    position: absolute;
    top: 350px;
    left: -50px;
}

.discount-content{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    top: 400px;
    left: 0px;
}

.discount-content>h4{
    font-family: "Fredoka One";
    font-weight: 100;
}

.discount-content>h1{
    font-family: "Fredoka One";
    font-size: 50px;
}

.dots{
    display: flex;
    justify-content: center;

}

.dot{
    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 10px;
    margin: 0px 30px;
    cursor: pointer;
}

.yellow-dot{
    background-color: #FBD104;
}

.tomato-dot{
    background-color: #FE5E35;
}

.action-btn{
    margin: 50px 0px;
}


@media screen and (max-width: 1200px) {
    .intro-section{
        flex-direction: column-reverse;
    }
  }

@media screen and (max-width: 800px) {
    .nav-items{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px) {

    .headphone-div img:last-child{
        width: 100%;
    }
    .discount{
        width: 40%;
        top: 50%;
        left: 0;
    }
    .discount-content{
        top: 60%;
        left: 10%
    }
    .discount-content>h4{
        font-size: 100%;
    }
    
    .discount-content>h1{
        font-size: 100%;
    }
}